@using SnackbarB2C2PI4_LeviFunk_ClassLibrary
@model HomeVMIndex

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="CenteredTitle">
    Welcome!
</h1>

<h3>
    Make use of the tabs above to locate in the application
</h3>