@using SnackbarB2C2PI4_LeviFunk_ClassLibrary
@model Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="CenteredTitle">@Model.Name</h1>

<div class="flex-parent-element">    
    <div class="flex-child-element">


        <div class="ListElement">
            <h3>
                Price:
            </h3>
            <p class="lead">
                €@Model.Price
            </p>
        </div>

        <div class="ListElement">
            <h5>
                In stock:
            </h5>
            <p class="text-primary-emphasis">
                @Model.Stock
            </p>
        </div>

        <div class="ListElement">
            <h5>
                Discount:
            </h5>
            <p class="text-primary-emphasis">
                @Model.Discount
            </p>
        </div>

        <div class="card bg-secondary mb-3" id="ProductDetailDescriptionCards">
            <div class="card-header">
                <h4 class="card-title">
                    Description
                </h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @Model.Description
                </p>
            </div>
        </div>

    </div>

    <div class="flex-child-element" id="flex-child-last-element">

        <div class="borderBody fullBorder borderGradient" id="CenteredImg">
            <img class="ProductDetailsImgSize" src="~/images/@Model.ImgPath" alt="Stock_Photo" />
        </div>

    </div>
    
</div>

<div class="formControlButtons">
    <a asp-controller="Products" asp-action="Index" type="button" class="btn btn-primary">Back</a>
</div>
