@using SnackbarB2C2PI4_LeviFunk_ClassLibrary
@model ProductsVMIndex

@{
    ViewData["Title"] = "Index";
}

<h1 class="CenteredTitle">Menu</h1>
<hr />

<div class="GridCards">

    @foreach (Product product in Model.Products)
    {
        <div class="card border-primary mb-3" id="GridCardItems">

            <div class="card-header">
                @product.Name
            </div>

            <div class="card-body">
                <div class="CardTitleHeight">
                    <h5 class="card-title CenteredTitle">
                        Price: €@product.Price
                    </h5>
                </div>

                <div class="CardImgHeight">
                    <img src="~/images/@product.ImgPath" class="cardImg" />
                </div>

                <a asp-action="Details" asp-route-id="@product.Id" type="button" class="btn btn-primary ProductDetailsButtonSize">Details</a>

            </div>

        </div>
    }

</div>